/target/

/src/asciidoc/resources/images/multicase*
/src/asciidoc/resources/images/multiusecase*.png
/src/asciidoc/resources/images/message_proc*.svg
/src/asciidoc/resources/images/link config.png
/src/asciidoc/resources/images/confirmation_message_sequence_diagram.svg
/src/asciidoc/resources/images/storage_architecture.svg
